<% @page_title = "Willustrator" %>
<div class="body">

<h1>New Images</h1>

<div class="image-list">
  <%= render :partial => "image_list", :collection => @images %>
</div>

<%= render_partial 'list_pager', @pages %>

</div>
